* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: poppins, sans-serif;
}

body {
  overflow-x: hidden;
  width: 100%;
}
#logo {
  width: 70px;
  /* height: 100px; */
}
.menu {
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.menu-disctop {
  display: flex;
  justify-content: space-between;
}
.responsive {
  display: none;
}
.menu-disctop ul {
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.serch-bar {
  display: flex;
}
.nav-bar {
  width: 50%;
}
.nav-bar ul li a {
  position: relative;
  color: black;

  font-size: 20px;
  font-weight: 600;
}

nav ul li a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #262626;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s linear;
}
nav ul li a:hover:before {
  transform-origin: right;
  transform: scaleX(1);
}
#serch {
  border: none;
  background: none;
}
#serch img {
  width: 18px;
}
.sect-head {
  height: 100%;
  background: #ffffff;
  display: flex;
  align-items: center;
}

.fa {
  position: relative;
  color: #000;
  font-size: 35px;
  float: right;
  display: none;
}

  /* _____________________reserve______________________________ */
  .cont-reserve{
    padding: 3%;
    font-size: 18px;
    background-color: #262626;
      
  }

    .sect {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
  }
  
  .inp-nb{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  .inp-nb section{
      height: 50px;
  }

.first-slect {
    border: none;
    border-bottom: 2px solid;
    border-radius: 5px;
    background: transparent;
    padding: 1%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    width: 20vw;
 }

option {
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
}



/* ____________________Gallerie______________________________ */

.img-box {
  width: 100%;
  height: 25vh;
}


.VÉHICULES {
  background: azure;
  padding: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  
  
  
  
}

.box {
  background-color: white;
  margin-bottom: 15%;
  width: 20vw;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  
}



.model {
  font-size: 16px;
  font-weight: 400;
  color: #858484;
}
.name{
  padding: 5%;
  font-size: 16px;
}
/* .product-list{
  display: flex;
  width: 400%;
  overflow-x: scroll;
  
  
  
} */
/* -------------------------------durée--------------------------- */
.sect-duree{
  background-image: url(images/unnamed.jpg);
  background-size: cover;
  background-position: left;
  height: 250px;
  padding: 10%;
  /* padding-bottom: 10%; */
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.cont-duree{
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #262626d1;
}
.cont-duree h1{
  font-size: 18px;
}
.date{
  border: none;
  border-bottom: 2px solid;
  padding: 3%;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;
  width: 20vw;
}
.va-f{
  font-weight: 600;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding-left: 2%;
  padding-right: 2% ;
  height: 30px;
 font-size: 16px;
 align-self: center;

}
.date-se{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.submet {
  font-weight: 600;
  text-align: center;
  background-color: rgb(15, 180, 23);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 10vw;
  height: 40px;
 font-size: 16px;
 align-self: center;
}
#btn-sub{
  background-color: #ffffff;
  color: #000;
}
.contoner{
    /* position: absolute; */
    color: #000;
    font-size: 18px;
    height: 400px;
    width: 400px;
    padding-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ffffffcf;

  
}
.con-ra{
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  width: 80%;
  height: 100%;

}

/* ___________________footer____________________ */
footer {
  height: 70vh;
  background-color: #262626;
}
.long {
  font-size: 16px;
  color: #757575;
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-evenly;
  width: 50%;
}
.icon-f {
  width: 30px;
}
.copyright {
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  color: #ffffff;
  font-size: 14px;
}
.footer-link {
  height: 50%;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 2%;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.links span {
  font-size: 14px;
  color: #757575;
}
.links hr {
  color: #757575;
}
@media screen and (max-width:950px){
  .nav-bar ul li a {
    font-size: 18px;
}

.footer-link{
  font-size: 14px;
}
.first-slect{
  font-size: 16px;
}
.VÉHICULES{
  grid-template-columns: 1fr 1fr 1fr;
}
.box{
  width: 25vw;
  font-size: 16px;
}
.contoner{
  height: 380px;
}
}
@media screen and (min-width:800px){
  .responsive{
    display: none !important;
}
}
@media screen and (max-width:800px) {

  .menu-disctop{
      display: none;
  }
  .serch-bar{display: flex;}
  .menu-mobil{
      position: absolute;
      height: 50vh;
      width: 100%;
      background-color: #ffffff;
      left: 0;
      bottom: 40%;
      padding-left: 5%;
      transition: all 5s;
  }
  .menu-mobil ul{
     
      font-size: 22px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 60%;
      padding-top: 2%;
      padding-left: 2%;
     
  }
  .menu-mobil ul li a{
      display: flex;
  }
  .search-btn{
      font-size: 18px;
      padding-left: 2%;
      width: 80%;
      border-width: 0 0 2px;
      border-color: black;
      background: none;
      height: 40px;
  }
  .fa{display: block;}
  .our_service {
    width: 50%;
  font-size: 16px;}
  .title{
    font-size: 24px;
  }
  .footer-link {
    font-size: 12px;
}
.icon-f {
  width: 30px;
}
.long {
font-size: 14px;}
.contoner{
  height: 350px;
}

}
@media screen and (max-width:750px){
  #logo{
    width: 60px;
    }
    .date{
      width: 30vw;
    }
    .name {
      font-size: 14px;
  }
  .model{
    font-size: 14px;
  }
  .contoner{
    height: 300px;
    font-size: 16px;
  }
    .submet{
      font-size: 12px;
      width: 20vw;
      height: 35px;
    }
    .long {
      font-size: 16px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-evenly;
    
    }
    .links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      font-size: 14px;
      height: 16vh;
      padding-top: 3%;
      padding-left: 2%;
    }
    .footer-link {
      height: 72vh;
      color: #ffffff;
      display: flex;
      justify-content: space-between;
      padding: 2%;
      flex-direction: column;
    }
    .copyright {
      padding-top: 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      color: #ffffff;
    }
    footer{
      height: 100vh;
    }
    .logos{
      padding: 10%;
    }
    .cars-marques{
      grid-template-columns: 1fr 1fr;
    }
    .sect-duree{
      justify-content: center;
    }
}
@media screen and (max-width:650px){
  #logo{
    width: 55px;
    }
    .VÉHICULES{
      grid-template-columns: 1fr 1fr;
    }
    .box{
      width: 40vw;
    }
.long{
  font-size: 12px;
}
.copyright{
  font-size: 10px;
}
.contoner{
  width: 100%;
  margin-right: -5%;
}
.va-f{
  font-size: 12px;
}
}
@media screen and (max-width:450px){
  #logo{
    width: 45px;
    padding: 5%;
  }
  .cont-reserve{
    height: 30vh;
  }
  .sect{
    flex-direction: column;
  }
  .first-slect{
    width: 80vw;
  }

  .VÉHICULES{
    grid-template-columns: 1fr;
  }
  .box{
    width: 80vw;
  }
  .date {
    width: 50vw;
}
.sect-duree{
  background-position: center;
}


.con-ra{
  font-size: 16px;
}
  .icon-f {
    width: 20px;
  }
  .links{
    font-size: 12px;
  }
  .contoner{
    width: 90%;
    margin-right: -10%;
  }

}
  
